In [1]:
import numpy as np
import pandas as pd
from faker import Faker

ModuleNotFoundError: No module named 'faker'

In [ ]:
from faker import Faker

faker = Faker()
for i in range(0,1000):
 n = random.randint(1,100)
grades = ['A', 'B', 'C', 'D']
random_grade = random.choice(grade)

for i in range(0,1000):
 assignment = faker.random_int(0,100)
 cats = faker.random_int(0, 100)
 attendance = faker.random_int(0,100)
 finalScore = str(random_grade, index=[0,1000])

In [58]:
dataset = pd.read_csv('performance.csv')

In [59]:
dataset

      assignment  cats  attendance finalMark
0           60.0  75.0        80.0         A
1           56.7  56.0        14.5         D
2          100.0  83.0        27.5         B
3          100.0  55.0        77.0         A
4           83.3  45.0        52.5         B
...          ...   ...         ...       ...
1059        63.3  85.0        61.0         B
1060        70.0  65.0        78.0         A
1061        70.0  74.0        82.5         A
1062        90.0  53.0        72.5         A
1063        66.7  75.0        73.5         A

[1064 rows x 4 columns]